@charset "UTF-8";

/** Article stylesheet **/

h2.next-events {
    color: $grisNoir;
    font: 1.5em/1.5em $sansserif;
    margin: 30px 0 .85em;
}

h3.category-title {
    color: $grisFonce;
    font: 1.3em/1.5em $sansserif;
    margin: 1em 0 .66em;
    text-align: center;
    
    em {
        font-style: italic;
        
        &::before {
            content: open-quote;
        }
        
        &::after {
            content: close-quote;
        }
    }
}

.extract-article {
    padding: 20px;
    
    .image-miniature {
        display: block;
        float: left;
        border-radius: .5em;
        overflow: hidden;
        text-align: center;
        width: 150px;
        
        .attachment-post-thumbnail {
            display: block;
            height: auto;
            width: 150px;
        }
    }
    
    h3 {
        line-height: 1.33em;
        margin-left: 170px;
    }
    
    p {
        margin-bottom: .85em;
        margin-left: 170px;
        
        &.infos {
            color: lighten($grisFonce, 10%);
            font: .8em/1.33em $sansserif;
            font-style: italic;
            margin-bottom: 0;
        }
    }
}

.article {
    padding: 20px;
    
    h3 {
        line-height: 1.33em;
        margin-bottom: .85em;
        padding: 0 15px;
    }
    
    a {
        text-decoration: none;
    }
    
    .attachment-post-thumbnail {
        display: block;
        border-radius: .5em;
        height: auto;
        margin: 0 auto 1.5em;
        max-width: 100%;
    }
    
    p {
        font: .95em/1.5em $serif;
        line-height: 1.5em;
        margin-bottom: 1.5em;
        padding: 0 1em;
        text-align: justify;
        
        &.infos {
            color: lighten($grisFonce, 10%);
            font: .8em/1.33em $sansserif;
            font-style: italic;
            margin-bottom: 2em;
            padding: 0 15px;
        }
    }
}

article p strong { font-weight: 700; }

.goBlog,
.nav-previous,
.nav-next {
    display: block;
    color: $grisMoyen;
    font: .9em/1.5em $sansserif;
    font-weight: 400;
    letter-spacing: .025em;
    margin: 30px 0 0;
    text-align: center;
    text-decoration: none;
    
    &:hover {
        color: $grisFonce;
        text-decoration: underline;
    }
    
    &.alignleft {
        float: left;
        padding-left: 1em;
        text-align: left;
        
        &:hover {
            text-decoration: none;
        }
        
        a::before {
            content: '< ';
        }
    }
    
    &.alignright {
        float: right;
        padding-right: 1em;
        text-align: right;
        
        &:hover {
            text-decoration: none;
        }
        
        a::after {
            content: '> ';
        }
    }
    
    a {
        color: $grisMoyen;
        font: 1em/1.5em $sansserif;
        font-weight: 400;
        letter-spacing: .025em;
        text-decoration: none;
    
        &:hover {
            color: $grisFonce;
            text-decoration: underline;
        }
    }
}

section.next-events,
section.next-dates {
    padding: 20px;
    
    ul.list-events {
        margin: 0;
        padding: 0;
        
        li {                
            display: block;
            clear: both;
            margin: 20px 0 0;
            
            &:last-of-type time {
                margin-bottom: 0;
            }
            
            time {
                float: left;
                width: 60px;
                
                .calendar {
                    background-color: $blanc;
                    border: 2px solid $grisFonce;
                    border-radius: .5em;
                    margin-bottom: .15em;
                    
                    .mois {
                        display: block;
                        background-color: $grisFonce;
                        color: $blanc;
                        font: 14px/1.5em $sansserif;
                        text-align: center;
                    }
                    
                    .jour {
                        display: block;
                        color: $grisFonce;
                        font: 25px/1.5em $sansserif;
                        font-weight: 600;
                        text-align: center;
                    }
                }
                
                .heure {
                    display: block;
                    color: $grisFonce;
                    font: .85em/1.85em $sansserif;
                    font-weight: 400;
                    text-align: center;
                }
            }
            
            strong {
                display: block;
                font: 1em/1.33em $sansserif;
                font-weight: 600;
                margin: 0 0 .5em 75px;
                
                a {
                    color: $grisNoir;
                    
                    &:hover {
                        color: $rouge;
                        text-decoration: underline;
                    }
                }
            }
            
            p.lieu,
            p.desc {
                position: relative;
                font: .9em/1.5em $serif;
                margin-bottom: 0;
                margin-left: 100px;
                margin-top: .65em;
                
                &::before {
                    position: absolute; top: 0; left: -20px;
                    color: $grisFonce;
                    font-family: $icofont;
                    font-size: .95em;
                    height: 1.5em;
                    line-height: 1.5em;
                    text-align: center;
                    width: 20px;
                }
            }
            
            p.lieu::before { content: '\e9de'; }
            p.desc::before { content: '\e9cc'; }
        }
    }
}

section.next-dates {
    padding: 0;
    
    ul {
        padding: 0;
        
        li {
            background-color: $blanc;
            border-radius: .5em;
            padding: 20px 20px 15px;
        }
    }
}

section.tag-cloud {
    padding: 20px 30px 30px;
    text-align: center; 
    
    h4 {
        margin-bottom: 10px;
    }
    
    ul.wp-tag-cloud {
        display: block;
        margin: 1em auto 0;
        padding: 0;
        width: 100%;
        
        li {
            display: inline-block;
            line-height: 28px;
            margin: 0;
            padding: 0 .15em;
            
            &::first-letter {
                text-transform: capitalize;
            }
        }
    }
    
    a {
        color: $grisFonce;
        padding: 0 .25em;
        text-decoration: none;
        
        &:hover {
            color: $rouge;
            text-decoration: underline;
        }
    }
}

.sous-cat {
    text-align: center;
    
    .categorie {
        display: inline-block;
        color: $grisFonce;
        font: 1.1em/1.5em $sansserif;
        font-weight: 600;
        text-decoration: none;
        width: 45%;
        
        &:hover {
            color: $rouge;
            text-decoration: underline;
        }
    }
}

.content-article {
    p {
        a {
            color: $rouge;
            text-decoration: none;
            transition: all .2s ease-in-out;
            
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.social-sharing {
    padding-bottom: 1.5em;
}

.social-media-access a {
    outline: none;
}

.categories > a {
    display: block;
    border-top: 1px solid $grisClair;
    color: $grisFonce;
    margin: 0 2em;
    padding: .66em 0;
    text-align: center;
    text-decoration: none;
    
    &:first-of-type {
        border-top: none;
    }
    
    &:hover {
        color: $rouge;
    }
}
