@charset "UTF-8";

/** Footer stylesheet **/

.em-calendar {
    margin: 0 auto;
    width: 85%;
    
    .em-calnav {
        color: $grisFonce;
        text-decoration: none;
        
        &:hover {
            color: $rouge;
        }
    }
    
    .eventless,
    .eventless-today,
    .eventless-pre,
    .eventless-post,
    .eventful,
    .eventful-today,
    .eventful-pre,
    .eventful-post {
        height: 35px;
        padding: 0;
        text-align: center;
        vertical-align: middle;
        width: 35px;
    }
    
    .eventless,
    .eventless-today {
        background-color: $grisClair !important;
    }
    
    .eventful,
    .eventful-today {
        a {
            color: $rouge !important;
            text-decoration: none;
        }
        
        &:hover {
            background-color: $rouge;
            
            a { color: $blanc !important; }
        }
    }
    
    .eventless-today,
    .eventful-today {
        font-weight: 900;
    }
}

.single-event .maincol {
    strong {
        color: $grisMoyen;
        font: .75em/1.33em $sansserif;
        font-weight: 700;
        text-transform: uppercase;
    }
    
    .em-location-map-container {
        height: 300px !important;
        width: 350px !important;
    }
}

.single-event .infos { display: none; }
