@charset "UTF-8";

/** Footer stylesheet **/

footer.bottombar {
    background: url('../img/tweed_@2X.png') $grisFonce top left;
    margin: 40px 0 0;
    width: 100%;
    
    .footer-content {
        color: $blanc;
        font: .85em/1.66em $sansserif;
        margin: 0 auto;
        padding: 3em 0;
        width: $largeur;
        
        @media all and (max-width: 1200px) {
            margin: 0 auto;
            text-align: center;
            width: 85%;
            
            h5 {
                margin-top: 1.5em;
            }
            
            a::before { display: none; }
            a { margin-left: 0 !important; }
        }
        
        h5 {
            color: $blanc;
            font-size: 1.4em;
        }
        
        strong {
            font-weight: 600;
        }
        
        em {
            font-style: italic;
        }
        
        a {
            display: block;
            color: $blanc;
            font-style: italic;
            text-decoration: none;
            
            &.email,
            &.tel,
            &.fax {
                position: relative;
                margin-left: 20px;
                
                &::before {
                    position: absolute; top: 0; left: -20px;
                    font-family: $icofont;
                    font-style: normal;
                    height: 1.66em;
                    line-height: 1.66em;
                    text-align: left;
                    width: 20px;
                }
            }
            
            &.email::before { content: '\e97f'; font-size: .95em; }
            &.tel::before { content: '\e8e0'; }
            &.fax::before { content: '\e8e2'; }
            
            &:hover { text-decoration: underline; }
        }
        
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            
            li {
                margin-bottom: 1.5em;
            }
        }
    }
}