@charset "UTF-8";

/** Header stylesheet **/

header.topbar {
    position: fixed; top: 0; left: 0;
    background-color: $rouge;
    height: 60px;
    width: 100%;
    z-index: 900;
    
    .topbar-content {
        position: relative;
        margin: 0 auto;
        width: 1140px;
        
        @media all and (max-width: 1200px) {
            width: 100%;
        }
        
        h1 {
            display: inline-block;
            background: url('../img/logo-an.png') left center no-repeat;
            color: $blanc;
            font-size: 1.25em;
            font-weight: 600;
            line-height: 60px;
            padding-left: 60px;
            text-transform: uppercase;
            
            @media all and (max-width: 1200px) {
               margin-left: 1.5em;
            }
        }
        
        .toggleMenu {
            position: fixed; top: 0; right: 0;
            display: none;
            color: $blanc;
            font-family: $sansserif;
            font-size: 1.15em;
            line-height: 60px;
            padding: 0 1.5em 0 1.33em;
            text-decoration: none;
            text-transform: uppercase;
            z-index: 960;
            
            @media all and (max-width: 1200px) {
                display: block;
            }
            
            &:hover {
                background-color: rgba($blanc, .15);
            }
        }
        
        nav.main-nav {
            position: absolute; top: 0; right: 0;
            display: block;
            
            @media all and (max-width: 1200px) {
                position: fixed;
                top: 60px;
                display: none;
                background-color: $rouge;
                width: 100%;
                text-align: left;
                z-index: 990;
                
                &.toggle { display: block; }
            }
            
            ul.menu {
                list-style: none;
                margin: 0;
                padding: 0;
                
                li.menu-item {
                    position: relative;
                    display: inline-block;
                    margin: 0;
                    padding: 0;
                    vertical-align: top;
                    
                    a {
                        display: block;
                        color: $blanc;
                        font-family: $sansserif;
                        font-size: .95em;
                        letter-spacing: .025em;
                        line-height: 60px;
                        padding: 0 1em;
                        text-decoration: none;
                        text-transform: uppercase;
                        
                        &:hover {
                            background-color: rgba($blanc, .25);
                        }
                    }
                    
                    &:nth-of-type(3) {
                        &::after {
                            position: absolute; top: 20px; right: -4px;
                            border-left: 2px solid rgba($blanc, .33);
                            color: $blanc;
                            content: ' ';
                            font-size: 20px;
                            font-weight: 100;
                            height: 18px;
                            line-height: 18px;
                            text-align: center;
                            width: 1px;
                        }
                    }
                }
            }
        }
    }
}

.search-button {
    position: fixed; top: 0; right: 0;
    background: transparent;
    color: $blanc;
    cursor: pointer;
    font: 20px/55px $icofont;
    height: 60px;
    text-align: center;
    width: 60px;
    z-index: 950;
    
    &:hover {
        background-color: rgba($blanc, .15);
    }
    
    @media all and (max-width: 1200px) {
        top: 60px;
        background-color: rgba($rouge, .25);
    }
}

.search-form {
    position: relative;
    display: none;
    background-color: $grisClair;
    height: 60px;
    width: 100%;
    z-index: 900;
    
    @media all and (max-width: 1200px) {
        width: calc(100% - 60px);
    }
    
    &.afficherbarre { display: block; }
    
    .screen-reader-text {
        display: none;
    }
    
    input.search-field {
        background: transparent;
        border: none;
        box-sizing: border-box;
        height: 60px;
        padding: 0 175px 0 25px;
        width: 100%;
    }
    
    input.search-submit {
        position: absolute; top: 0; right: 0;
        background-color: $grisMoyen;
        border: none;
        border-radius: 0 !important;
        color: $blanc;
        cursor: pointer;
        font: 16px/58px $sansserif;
        font-weight: 600;
        height: 60px;
        width: 150px;
        -webkit-appearance: none;
        
        &:hover {
            background-color: $rouge;
        }
    }
} 
