@charset "UTF-8";

/** Frontpage stylesheet **/

.banner {
    background: url('../img/banner_homepage.jpg') center top no-repeat;
    background-color: $noirClair;
    height: 297px;
    margin: 0;
    padding: 0;
    width: 100%;
    
    @media all and (max-width: 1200px) {
        background-position: right top;
    }
}

body.home,
body.blog {
    section.newsletter-bar {
        position: relative;
        margin: 25px 0 0;
        
        input.newsletter-email {
            display: block;
            border: 1px solid $rouge;
            border-radius: 20px;
            height: 40px;
            line-height: 40px;
            padding: 0px 20px;
            width: 100%;
            -webkit-appearance: none;
        }
        
        input.newsletter-valid {
            position: absolute; top: 4px; right: 4px;
            background-color: $rouge;
            border-radius: 16px;
            color: $blanc;
            cursor: pointer;
            font-style: normal;
            border: 0;
            height: 32px;
            letter-spacing: -0.025em;
            line-height: 30px;
            padding: 0 15px;
            text-align: center;
            transition: all .2s ease-in-out;
            -webkit-appearance: none;
            
            &:hover {
                background-color: darken($rouge, 7%);
            }
        }
    }
    
    section.videos {
        background-color: $rouge;
        text-align: center;
        
        h4 { color: $blanc; }
    }
}

section.last-tweet {
    position: relative;
    
    &::before {
        position: absolute; top: 10px; left: 10px;
        display: block;
        color: rgba($grisMoyen, .33);
        content: '\e8b6';
        font-family: $icofont;
        font-size: 65px;
        line-height: 65px;
    }
    
    p.tweet-content {
        font-family: $serif;
        font-size: .95em;
        margin: 0 auto 1em;
        text-align: center;
        
        a {
            color: $grisNoir;
            
            &:hover {
                color: $rouge;
            }
        }
    }
    
    a.twitter {
        display: block;
        color: $grisNoir;
        font-size: .85em;
        text-align: center;
        
        &:hover { color: $rouge; }
    }
}

.page .maincol {
    h3.page {
        color: $grisFonce;
        font: 1.3em/1.5em $sansserif;
        font-weight: 700;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    h1 {
        border-bottom: 1px solid $grisFonce;
        color: $grisFonce;
        font: 1.15em/1.5em $sansserif;
        font-weight: 400;
        margin: 1.25em 10px 1em;
    }
    
    hr { display: none; }
}

section.social-media-access {
    margin: 25px 0;

    ul {
        height: 40px;
        margin: 0;
        padding: 0;
        text-align: center;
        
        li {
            position: relative;
            display: inline-block;
            background-color: $grisFonce;
            border-radius: .5em;
            color: $grisFonce;
            height: 40px;
            overflow: hidden;
            margin: 0 .5em;
            width: 40px;
            
            &::after {
                position: absolute; top: 0; left: 0;
                color: $grisClair;
                font: 25px/40px $icofont;
                height: 40px;
                text-align: center;
                width: 40px;
            }
            
            &.facebook::after { content: '\e87f'; }
            &.twitter::after { content: '\e8b6'; }
            &.videos::after { content: '\e8c4'; }
            &.print::after { content: '\e9cf'; }
            
            &:hover {
                background-color: $rouge;
                color: $rouge;
            }
        }
    }
}

.pictures-widget {
    text-align: center;
    
    li {
        position: relative;
        display: inline-block;
        height: 70px;
        margin: 3px;
        overflow: hidden;
        width: 70px;
        
        img {
            position: absolute;
            top: 0; left: -15px;
            height: 75px;
            width: auto;
            
            &.portrait {
                top: -15px; left: 0;
                height: auto !important;
                width: 75px !important;
            }
        }
    }
}
