@mixin appearance($val) {
    -webkit-appearance: $val;
       -moz-appearance: $val;
            appearance: $val;
}

@mixin rotate($deg) {
    -webkit-transform: rotate($deg);
            transform: rotate($deg);
}

@mixin scale($val) {
    -webkit-transform: scale($val);
       -moz-transform: scale($val);
        -ms-transform: scale($val);
                transform: scale($val);
}

@mixin miroir() {
    -webkit-transform: scaleX(-1);
       -moz-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
                transform: scaleX(-1);
}

@mixin animation($attr) {
    -webkit-animation: $attr;
            animation: $attr;
}

@mixin linear-gradient($from, $to) {
    /* Fallback for sad browsers */
    background-color: $to;
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient($from, $to);
    /* Opera */
    background-image: -o-linear-gradient($from, $to);
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(linear, left top, left bottom, color-stop(0, $from), color-stop(1, $to));
    /* IE 10 */
    background-image: -ms-linear-gradient($from, $to);
    /* W3C */
    background-image: linear-gradient($from, $to);
}

@mixin bordure-fine {
    @media (-webkit-min-device-pixel-ratio: 1.5),
              (min--moz-device-pixel-ratio: 1.5),
                (-o-min-device-pixel-ratio: 3/2),
                   (min-device-pixel-ratio: 1.5),
                       (min-resolution: 1.5dppx) {
        border-bottom-width: .5px;
    }
}