@charset "UTF-8";

/**
 * Main SASS stylesheet of this project
 * 
 * @version 1.0
 * @author  Damien Senger <hi@hiwelo.co>
 */


/**
 * Reset CSS
 * 
 * @author  Eric Meyer
 * @version 2.0
 * @url     http://meyerweb.com/eric/tools/css/reset/
 * @license Public domain
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/** SASS Mixins imports **/
@import "mixins.scss";


/** variables **/

$noir:      rgba(  0,   0,   0, 1);
$noirClair: #151515;
$blanc:     rgba(255, 255, 255, 1);
$rouge:     rgba(191,  16,  16, 1);
$grisNoir:  rgba( 50,  50,  50, 1);
$grisFonce: rgba( 74,  74,  74, 1);
$grisMoyen: rgba(155, 155, 155, 1);
$grisClair: rgba(240, 240, 240, 1);
$dailymtn:  #186289;

$sansserif: 'Merriweather Sans', Helvetica, Arial, sans-serif;
$serif:     'Merriweather', 'Times New Roman', serif;
$icofont:   'icofont-pcordery', sans-serif;

$largeur:   1140px;

$icons:     (facebook '\e87f')
            (twitter '\e8b6')
            (videos '\e8c4');


/** generic blocks **/

* {
    box-sizing: border-box;
}

html, body {
    background-color: $grisClair;
    color: $grisNoir;
    font: 16px/1.5em $serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

body { padding-top: 60px; }

main {
    margin: 0 auto;
    padding: 0;
    width: $largeur;
    
    @media screen and (max-width: 1200px) {
        width: 100%;
    }
}


/** generic tags **/

a {
    color: $rouge;
    text-decoration: underline;
    
    &.nostyle {
        color: inherit;
        text-decoration: inherit;
    }
    
    &.inverse {
        color: $rouge;
        text-decoration: none;
        
        &:hover {
            text-decoration: underline;
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $sansserif;
}

h3 {
    color: $rouge;
    font: 1.25em/1.5em $sansserif;
    font-weight: 400;
    margin-bottom: .33em;
}

h4 {
    font: 1.25em/1.5em $sansserif;
    font-weight: 700;
    margin-bottom: 20px;
}

h5 {
    font: 1.15em/1.5em $sansserif;
    font-weight: 400;
    margin-bottom: 1.15em;
}

input {
    font-family: $sansserif;
    font-size: 16px;
    font-style: italic;
    font-weight: 300;
}

p {
    color: $grisNoir;
    font: .9em/1.5em $serif;
    font-weight: 400;
    margin-bottom: 1.5em;
}


/** grid settings **/

.leftcol {
    display: inline-block;
    margin: 0 calc(35px/2);
    vertical-align: top;
    width: 345px;
    
    h4 { text-align: center; }
    
    @media all and (max-width: 1200px) {
        display: none;
    }
}

.maincol {
    display: inline-block;
    margin: 0 calc(35px/2);
    vertical-align: top;
    width: 725px;
    
    @media all and (max-width: 1200px) {
        display: block;
        margin: 0 auto;
    }
}

.content {
    background-color: $blanc;
    border-radius: 10px;
    margin: 25px 0 0;
    padding: 15px 20px;
}

.threecols {
    display: inline-block;
    margin: 0 calc(35px/2);
    vertical-align: top;
    width: 345px;
}

.clearfix { clear: both; }


/** Données sur le player Dailymotion **/
iframe {
    display: block;
    margin: 0 auto;
    height: 279px;
    width: 500px;
}


/** SASS imports **/
@import 'header';
@import 'home';
@import 'article';
@import 'footer';
@import 'calendar';
